<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>KeyMapperVirtualKeyboard</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.adrhim.keymapper.virtualhid</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>IOClass</key>
			<string>KeyMapperDriver</string>
			<key>IOMatchCategory</key>
			<string>KeyMapperVirtualHID</string>
			<key>IOProviderClass</key>
			<string>IOHIDTransport</string>
			<key>IOHIDTransportType</key>
			<string>IOHIDTransportTypeBlob</string>
			<key>IOHIDProduct</key>
			<string>KeyMapper Virtual Keyboard</string>
			<key>IOHIDVendorID</key>
			<integer>1452</integer>
			<key>IOHIDProductID</key>
			<integer>4660</integer>
			<key>bcdDevice</key>
			<integer>256</integer>
		</dict>
	</dict>
</dict>
</plist>
